.wrapper {
    display: flex;
    justify-content: center;
    background-color: #ac3b61;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    .navigationContainer {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex: 1;
        max-width: 60rem;
        h1 {
            color: rgb(238, 238, 89);
        }
    }
}
@media (max-width: 48rem) {
    .wrapper {
        .navigationContainer {
            h1 {
                font-size: 1.5rem;
            }
        }
    }
}
