.formContainer {
    background-color: #eee2dc;
    padding: 2rem;
    form {
        border: 0.2rem solid black;
        padding: 2rem;
        input {
            padding: 0.5rem;
        }
    }
}
