.wrapper {
    background-color: #eee2dc;
    padding: 2rem;
    .formContainer {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        form {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            display: flex;
            flex: 1;
            padding: 1rem;
            max-width: 60rem;
            input {
                flex: 1;
                padding: 0.5rem;
            }
        }
    }
    .loader {
        height: 9.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
