.button {
    padding: 0.55rem 1rem;
    background-color: #ac3b61;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #123c69;
        font-weight: bold;
    }
}
