.wrapper {
    padding-top: 2rem;

    display: flex;
    justify-content: center;
}
.leafletContainer {
    flex: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 60rem;
    height: 57vh;
}
