.error {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ac3b61;
}
.container {
    background-color: #eee2dc;
    color: #ac3b61;
    display: flex;
    justify-content: center;
    .output {
        flex: 1;
        max-width: 60rem;
        padding: 2rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .main {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            padding-bottom: 2rem;
            .name {
                color: #123c69;
                font-weight: 500;
            }
        }
        .secondary {
            display: flex;
            justify-content: space-between;
        }
    }
}
